@using Handicraft_Shop.Models;
@model SANPHAM
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Mainlayout.cshtml";
}

<div class="container product-detail">
    <div class="row">
        <div class="col-md-4">
            <img src="/HinhAnhSP/MUC HINH ANH CHUNG/@Model.HINHANH" alt="@Model.TENSANPHAM" class="img-fluid" />
        </div>
        <div class="col-md-8 product-info">
            <h2 class="product-title">@Model.TENSANPHAM</h2>
            <p class="product-price"> @String.Format("{0:#,###}", @Model.GIABAN) VNĐ </p>
            <p class="product-description"><strong>Mô tả:</strong> @Model.MOTA</p>

            @using (Html.BeginForm("ThemMatHang", "Home", FormMethod.Post, new { @class = "form-inline" }))
            {
                <input type="hidden" name="txtMa" value="@Model.MASANPHAM" />
                <input type="number" name="SoLuong" placeholder="Số lượng" value="1" min="1" class="form-control" />
                <input type="submit" class="btn btn-outline-success" value="Thêm vào giỏ hàng">
            }
            <div>
                <a href="#" class="btn btn-outline-success" onclick="window.history.back(); return false;">Trở lại danh sách</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Sản phẩm liên quan</h3>
            <div class="row">
                @foreach (var item in ViewBag.RelatedProducts as List<Handicraft_Shop.Models.SANPHAM>)
                {
                    <div class="col-md-3">
                        <div class="related-product">
                            <img src="/HinhAnhSP/MUC HINH ANH CHUNG/@item.HINHANH" alt="@item.TENSANPHAM" class="img-fluid" />
                            <h4 class="related-product-title">@item.TENSANPHAM</h4>
                            <p class="related-product-price" style="color:red">@String.Format("{0:#,###}", @item.GIABAN) VNĐ</p>
                            <a href="@Url.Action("Details", "Home", new { id = item.MASANPHAM })" class="btn btn-warning">Xem chi tiết</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<style>
    .product-detail {
        margin-top: 20px;
    }

    .product-image {
        text-align: center;
    }

    .product-info {
        padding: 20px;
    }

    .product-title {
        font-size: 24px;
        font-weight: bold;
    }

    .product-price {
        font-size: 20px;
        color: red;
    }

    .product-description {
        margin-top: 10px;
    }

    .btn-group {
        margin-top: 20px;
    }
</style>
